<tr>
    <td width="10%"><img src="images/spacer.gif"  alt=""></td>
    <td>
        <p>&nbsp;</p>
        <p>
            <font color="#ffffff" face="sans-serif">
                Name of client <br/>
                Address <br/>
                Street <br/>
                City <br/>
                <br/>
            </font>
        </p>

    </td>
</tr>