<tr>
    <td>
        <a href="{{ links.cta2-demandez-une-offre }}">
            {{> image
                src-mobile = "images/img-demandez-m.jpg"
                src-desktop = "images/img-demandez-dt.jpg"
                mobilewidth = 600
                desktopwidth = 297
                desktopheight = 183
                alt = texts.button-middle
            }}
        </a>
    </td>
</tr>