<table width="100%" class="block-footer-peugeotlinks">
    <tr>
        <td align="left">
            <a href="{{ links.peugeot-fr }}"><img src="images/link-peugeotfr.jpg" alt="Peugeot.fr" width="108" style="width:100%; min-width:20%; height: auto;max-width: 108px;" /></a>
        </td>
        <td align="center">
            {{~> (lookup . 'middlelink') ~}}
        </td>
        <td align="right">
            <a href="{{ links.peugeot-news }}"><img src="images/link-peugeotnews.jpg" alt="Peugeot News" width="120" style="width:100%; min-width:20%; height: auto;max-width: 120px;" /></a>
        </td>
    </tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" class="block-footer">
    <tr>
        <td height="1" style="line-height: 1px; background-color: #ffffff;" bgcolor="#ffffff" class="block-footer-line"><img src="images/spacer.gif" width="1" height="1" style="height: 1px; line-height: 1px;" alt="" /></td>
    </tr>
    <tr>
        <td height="20" style="line-height: 20px;">
            <img src="images/spacer.gif" width="1" height="20" style="height: 20px; line-height: 20px;" alt="" />
        </td>
    </tr>
    <tr>
        <td align="center" class="footer-unsub">
            <font size="1" color="#ffffff">
                Si vous ne souhaitez plus recevoir d'alertes de ce type, <a href="{{ links.lien-desabonnement }}" style="text-decoration: underline !important"><font color="#ffffff">cliquez ici</font></a></font>
        </td>
    </tr>
    <tr>
        <td height="15" style="line-height: 15px;">
            <img src="images/spacer.gif" width="1" height="15" style="height: 15px; line-height: 10px;" alt="" />
        </td>
    </tr>
    <tr>
        <td align="left" class="footer-cgt">
            <font size="1" color="#BFC3C7">{{{ texts.cgt }}}</font>
        </td>
    </tr>
    <tr>
        <td height="20" style="line-height: 20px;">
            <img src="images/spacer.gif" width="1" height="20px" style="height: 20px; line-height: 20px;" alt="" />
        </td>
    </tr>
</table>
