<table align="center" width="100%">
    <tr>
        <td></td>
        <td width="140" align="center">
            <a href="{{ links.logo-facebook}}"><img src="images/icon-facebook.jpg" width="67" height="82" alt="Facebook"></a>
        </td>
        <td width="140" align="center">
            <a href="{{ links.logo-twitter}}"><img src="images/icon-twitter.jpg" width="67" height="82" alt="Twitter"></a>
        </td>
        <td width="140" align="center">
            <a href="{{ links.logo-youtube}}"><img src="images/icon-youtube.jpg" width="67" height="82" alt="Youtube"></a>
        </td>
        <td></td>
    </tr>
</table>