<tr class="block-middletext-right-contents">
    <td >
        <table width="100%" bgcolor="#223255">
            <tr>
                <td>
                    <img src="images/spacer.gif" width="1" height="78px" alt="" style="height:78px;">
                </td>
            </tr>
            <tr>
                <td align="center">
                    <img src="images/img-100points.png" alt="" width="480" height="83" style="height:83px; width:480px;">
                </td>
            </tr>
            <tr>
                <td align="center">
                    <img src="images/img-26000vehicules.png" alt="" width="480" height="83" style="height:83px; width:480px;">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="images/spacer.gif" width="1" height="78px" alt="" style="height:78px;">
                </td>
            </tr>
        </table>
    </td>
</tr>