<tr>
    <td>
        <a href="{{ links.cta2-demandez-une-offre }}">
            <img
                    srcset="images/img-demandez-dt.jpg 298w,
                    images/img-demandez-m.jpg 600w"
                    src="images/img-demandez-dt.jpg"
                    alt="{{ texts.button-top }}"
                    sizes="(max-width: 600px) 600px,
                    298px"
                     />
        </a>
    </td>
</tr>