<table width="100%">
    {{~> two-column
        left="block-middletext-left-PDV"
        right="block-middletext-right-PDV"
        className="block-middletext-columns"
        bgcolor= "#ffffff"
    ~}}
</table>