<table width="100%">
<tr>
    <td class="block-middletext-right-PDV" bgcolor="#223255" valign="bottom">
        <img src="images/img-parking.jpg" alt="Voir mon vehicule en stock" width="600" style="width: 100%; max-width: 600px; height: auto" class="block-middletext-right-PDV-img" />
        <table width="100%">
            <tr>
                <td width="10%"></td>
                <td width="90%">
                    (NOM DU PDV) <br />
                    <br />
                    (ADRESSE)<br />
                    (CODE POSTALE)(VILLE)<br />
                    (TEL: 00 00 00 00 00)
                </td>
            </tr>
        </table>
        <img src="images/button-monvehicule.jpg" alt="Voir mon vehicule en stock" width="600" style="width: 100%; max-width: 600px; height: auto" />
    </td>
</tr>
</table>