<tr>
    <td>
            {{> image
            src-mobile = "images/img-100points.jpg"
            src-desktop = "images/img-100points-dt.jpg"
            mobilewidth = 600
            desktopwidth = 297
            alt = texts.button-middle
            }}
    </td>
</tr>