<div class="table {{ className }}">
    <div class="table-row">
        <div class="table-cell middletext-1-left">
            <a href="{{ links.cta2-demandez-une-offre }}">
                <img src="images/img-demandez-m.jpg" alt="{{ middle-left }}" />
            </a>
        </div>

        <div class="table-cell middletext-1-right">
            <span><img src="images/img-100points.jpg" alt="{{ middle-right }}" /></span>
        </div>
    </div>
</div>