<tr>
    <td align="center" valign="middle" bgcolor="#ffffff" height="40" class="header-firstline">
        <a href="{{ links.lien-daffichage }}"><font color="#000000" size="2">{{ texts.first-line }}</font></a>
    </td>
</tr>