<table width="100%">
    {{~> two-column
        left="block-middletext-left"
        right="block-middletext-right"
        className="block-middletext-columns"
        bgcolor= "#ffffff"
    ~}}
</table>