<table align="center" width="100%">
    <tr>
        <td></td>
        <td width="120" align="center">
            <a href="{{ links.logo-facebook}}" class="icon-facebook"><img src="images/icon-facebook-dt.jpg" width="67" height="84" alt="Facebook"></a>
        </td>
        <td width="120" align="center">
            <a href="{{ links.logo-twitter}}" class="icon-twitter"><img src="images/icon-twitter-dt.jpg" width="67" height="84" alt="Twitter"></a>
        </td>
        <td width="120" align="center">
            <a href="{{ links.logo-youtube}}" class="icon-youtube"><img src="images/icon-youtube-dt.jpg" width="67" height="84" alt="Youtube"></a>
        </td>
        <td></td>
    </tr>
</table>