<table align="center">
    <tr>
        <td width="140" align="center">
            <img src="images/icon-facebook.jpg" width="67" height="82" alt="Facebook">
        </td>
        <td width="140" align="center">
            <img src="images/icon-twitter.jpg" width="67" height="82" alt="Twitter">
        </td>
        <td width="140" align="center">
            <img src="images/icon-youtube.jpg" width="67" height="82" alt="Youtube">
        </td>
    </tr>
</table>