<tr>
        <td class="middletext-1-left">
        <a href="{{ links.cta2-demandez-une-offre }}">
            <img src="images/img-demandez-dt3.jpg" alt="{{ middle-left }}" width="293" height="183" />
        </a>
    </td>
</tr>