<tr>
    <td>
        <img
                srcset="images/img-100points-dt2.jpg 298w,
                images/img-100points.jpg 600w"
                src="images/img-100points-dt2.jpg"
                alt="{{ texts.button-top }}"
                sizes="(max-width: 600px) 600px,
                    298px"

        />
    </td>
</tr>