<tr>
    <td width="10%"><img src="images/spacer.gif"  alt=""></td>
    <td width="80%">
        <div>
            <!--[if mso]>
            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://example.com" style="height:40px;v-text-anchor:middle;width:300px;" stroke="f" fillcolor="#3392CF">
                <w:anchorlock/>
                <center>
            <![endif]-->
            <a href="http://example.com">
                <table width="100%">
                    <tr>
                        <td bgcolor="#3392CF" align="center">
                            <br/>
                            <font color="#ffffff" face="sans-serif">Click me!</font>
                            <br/>
                            <br/>
                        </td>
                    </tr>
                </table>
            </a>
            <!--[if mso]>
            </center></v:rect>
            <![endif]-->
        </div>
    </td>
    <td width="10%"><img src="images/spacer.gif"  alt=""></td>
</tr>
<tr>
    <td height="10"></td>
    <td height="10"></td>
</tr>