<div class="column">
    <table width="100%">
        <tr>
            <td class="inner">
                <table class="contents">
                    {{> (lookup . 'mypartial') }}
                </table>
            </td>
        </tr>
    </table>
</div>