<tr>
    <td>
        <img src="https://placem.at/things?w={{ width }}&&h=140&random={{ text }}" width="{{ width }}" alt="" />
    </td>
</tr>
<tr>
    <td class="text">
        {{{ text }}}
    </td>
</tr>