<tr>
    <td class="double-stacked">
        <!--[if (gte mso 9)|(IE)]>
        <img src="images/message-1-first.jpg" alt="Fast'n'Comfortable" width="200" /><img src="images/message-1-second.jpg" alt="Family Car" width="200" />
        <![endif]-->
        <!--[if gt IE 8]> <!-- -->
        <img src="images/message-1-first.jpg" alt="Fast'n'Comfortable" width="300" /><img src="images/message-1-second.jpg" alt="Family Car" width="300" />
        <![endif]-->
    </td>
</tr>