<tr>
    <td class="double-stacked">
        {{~> image-double
        src-1="images/message-1-first.jpg"
        alt-1="Fast'n'Family"
        src-2="images/message-1-second.jpg"
        alt-2="Fast'n'Family"
        desktopwidth=200
        mobilewidth=300 ~}}
    </td>
</tr>