<!--    Footer module       -->

<tr>
    <td>
        <table>
            <tr>
                <td>
                    {{lookupdeep this 'common-' language '.unsubscribe' }}
                </td>
            </tr>
            <tr>
                <td>
                    {{lookupdeep this 'common-' language '.cgt' }}
                </td>
            </tr>
        </table>
    </td>
</tr>