<!--        Header module       -->

<tr>
    <td>
        <table>
            <tr>
                <td>Peugeot-logo</td>
                <td>{{lookupdeep this 'common-' language '.header.' header-type }}</td>
            </tr>
        </table>
    </td>
</tr>