<span class="introtext-jenprofite">
    {{> image
        src-mobile = "images/button-jenprofite.jpg"
        src-desktop = "images/button-jenprofite-dt.jpg"
        mobilewidth = 600
        desktopwidth = 600
        alt = "J'en profite"
    }}
</span>

<br />
<!--[if (gte mso 9)|(IE)]>
<p class="ie"><font color="#000000" face="sans-serif">{{{ texts.intro-text }}}</font></p>
<![endif]-->
<!--[if gt IE 8]> <!-- -->
<p><font color="#000000" face="sans-serif">{{{ texts.intro-text }}}</font></p>
<![endif]-->

<span class="introtext-descendre">
    {{> image
        src-mobile = "images/button-descendre.jpg"
        src-desktop = "images/button-descendre-dt.jpg"
        mobilewidth = 600
        desktopwidth = 600
        alt = "Descendre"
    }}
</span>