<span class="introtext-jenprofite">
    {{> image
        src-mobile = "images/button-jenprofite.jpg"
        src-desktop = "images/button-jenprofite-dt.jpg"
        mobilewidth = 600
        desktopwidth = 600
        alt = "J'en profite"
    }}
</span>

<p><br /><font color="#000000" face="sans-serif">{{{ texts.intro-text }}}</font><br/><br/></p>

<span class="introtext-descendre">
    {{> image
        src-mobile = "images/button-descendre.jpg"
        src-desktop = "images/button-descendre-dt.jpg"
        mobilewidth = 600
        desktopwidth = 600
        alt = "Descendre"
    }}
</span>