<table align="center" >
    {{> button
        text=texts.button-top
        url=button-top-url
        color=parameters.color-button
        color-border=parameters.color-button-border
    }}
</table>


<p><br /><font color="#000000" face="sans-serif">{{{ texts.intro-text }}}</font><br/><br/></p>
