<img src="images/button-jenprofite.jpg" width="600" alt="J'en profite">

<p><br /><font color="#000000" face="sans-serif">{{{ texts.intro-text }}}</font><br/><br/></p>

<img src="images/button-descendre.jpg" width="600" height="71" alt="descendre">