.block-middletext img {
  color: #666666;
}

.block-middletext-right-PDV table td{
  line-height: 18px;
}

@media screen and (min-width: $pagewidth) {
  .block-middletext-left {
    .inner .contents td {
      background: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/img-demandez-dt.jpg") no-repeat;
      img {
        visibility: hidden;
      }
    }
  }
  .block-middletext-right {
    .inner .contents td {
      background: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/img-100points-dt.jpg") no-repeat;
      img {
        visibility: hidden;
      }
    }
  }

  .block-middletext {
    .two-column {

      .column, img {
        max-width: 297px !important;
        width: 297px !important;
        height: 183px !important;
      }
    }
  }

  .block-middletext-right-PDV {

    img.block-middletext-right-PDV-img,
    img.block-middletext-right-PDV-spacer{
      display: none !important;
      visibility: hidden;
      width: 0;
      height: 0;
    }

    font {
      font-size: 16px;
    }

    box-sizing: border-box;
    padding-right: 50% !important;
    border-top: 8px solid white;
    height: 183px;
    background: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/img-parking-dt.jpg") no-repeat;
    background-position: right;
    background-size: 296px 100%;
    background-color: #223255;

  }



}