.block-middletext img {
  color: #666666;
}

@media screen and (min-width: $pagewidth) {
  .block-middletext-left {
    .inner .contents td {
      background: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/img-demandez-dt.jpg") no-repeat;
      img {
        visibility: hidden;
      }
    }
  }
  .block-middletext-right {
    .inner .contents td {
      background: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/img-100points-dt.jpg") no-repeat;
      img {
        visibility: hidden;
      }
    }
  }

  .block-middletext {
    .two-column {

      .column, img {
        max-width: 297px !important;
        width: 297px !important;
        height: 183px !important;
      }
    }
  }

}