.block-middletext img {
  color: #666666;
  min-width: 100%;
  width: 100%;
  max-width: 600px;
  height: auto;
}

.middletext-pdv-2 {
  line-height: 16px;
  vertical-align: bottom;
  span.texts {
    display: inline;
    vertical-align: bottom;
  }
  .pdv-head {
    font-size: 15px;
  }
  .pdv-text {
    font-size: 12px;
  }
}

@media screen and (min-width: $pagewidth) {
  .table {
    display: table;
    border-collapse: collapse;
  }
  .table-row {
    display: table-row;
  }
  .table-cell {
    display: table-cell;
  }

  .middletext-1-left a {
    display: block;
    width: 300px !important;
    height: 180px !important;
    background-image: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/img-demandez-dt3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center;


    img {
      visibility: hidden;
    }
  }
  .middletext-1-right span {
    display: block;
    width: 300px !important;
    height: 180px !important;
    background-image: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/img-100points-dt3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center;


    img {
      visibility: hidden;
    }
  }

  .middletext-left-pdv-2 {
    width: 298px !important;
    background-color: #223255;
    img {
      display: inline-block !important;
    }
  }


  .middletext-pdv-3 {
    display: block;
    width: 302px !important;
    height: 183px !important;
    background-image: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/img-parking-dt2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center;


    img {
      visibility: hidden;
      display: none !important;
    }
  }


}
