.block-middletext img {
  color: #666666;
  min-width: 100%;
  width: 100%;
  max-width: 600px;
  height: auto;
}

.middletext-pdv-1 {
  width: 10% !important;
}

.middletext-pdv-2 {
  line-height: 16px;
  vertical-align: bottom;
  span.texts {
    display: inline;
    vertical-align: bottom;
  }
  .pdv-head {
    font-size: 15px;
  }
  .pdv-text {
    font-size: 12px;
  }
}
  span.hideon-dt {
    font-size: 10px;
    line-height: 10px;
  }

@media screen and (max-width: 400px) {
  span.hideon-dt {
    font-size: 6px !important;
    line-height: 6px !important;
  }

}
@media screen and (min-width: $pagewidth) {
  .table {
    display: table;
    border-collapse: collapse;
  }
  .table-row {
    display: table-row;
  }
  .table-cell {
    display: table-cell;
  }

  td.middletext-pdv-1 {
    width: 25px !important;
  }

  span.hideon-dt {
    display: none;
  }

  .middletext-1-left a {
    display: block;
    width: 300px !important;
    height: 180px !important;
    background-image: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/img-demandez-dt3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center;


    img {
      visibility: hidden;
    }
  }
  .middletext-1-right span {
    display: block;
    width: 300px !important;
    height: 180px !important;
    background-image: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/img-100points-dt3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center;


    img {
      visibility: hidden;
    }
  }

  .middletext-left-pdv-2 {
    width: 298px !important;
    background-color: #223255;
    img {
      display: inline-block !important;
    }
  }


  .middletext-pdv-3 {
    display: block;
    width: 302px !important;
    height: 183px !important;
    background-image: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/img-parking-dt2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center;


    img {
      visibility: hidden;
      display: none !important;
    }
  }

  a.pdv-button {
    display: block;
    width: 272px !important;
    height: 69px !important;
    background-image: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/button-monvehicule-dt2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center;


    img {
      visibility: hidden;
      display: none !important;
    }
  }


}
