.block-middletext img {
  color: #666666;
}

.block-middletext-right-PDV table td{
  line-height: 18px;
}

@media screen and (max-width: $pagewidth) {
  .middletext-1-left,
  .middletext-1-right {
    img {
      visibility: hidden;
    }
  }
  .middletext-1-left {
    img {
      width: 65% !important;
    }
    background-image: url("../images/img-demandez-m.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: indianred;
  }
  .middletext-1-right {
    img {
      width: 89% !important;
    }
    background-image: url("../images/img-100points.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}