.block-footer,
.block-footer font {
  font-size: 10px;
}

.footer-unsub,
.footer-unsub font {
  font-size: 10px;
}

.footer-cgt {
  line-height: 1.3em;
  text-align: justify;
}

.block-footer-peugeotlinks,
.block-sociallinks {
  img {
    margin-bottom: 1px;
    margin-top: 1px;
  }
}