.block-middletext-left {
    background-color: red;
}
.block-middletext-right {
  background-color: #007FDE;
}

.block-middletext img {
  color: #666666;
}

.block-middletext-right-PDV table td{
  line-height: 18px;
}
