.full-width-image img {
  width: 100%;
  max-width: $pagewidth;
  height: auto;
}


// Single Column

p {
  Margin: 0;
}
a {
  color: #BFC3C7;
  text-decoration: none;
}
.h1 {
  font-size: 21px;
  font-weight: bold;
  Margin-bottom: 18px;
}
.h2 {
  font-size: 18px;
  font-weight: bold;
  Margin-bottom: 12px;
}

/* One column layout */
.one-column .contents {
  text-align: left;
}
.one-column p {
  font-size: 14px;
  Margin-bottom: 0;
}

/*Two column layout*/
.two-column {
  text-align: center;
  font-size: 0;
}

.two-column .column {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  &.horizontal {
    vertical-align: middle;
  }
}

// Two column contents

.contents {
  //width: 100%;
}

.two-column .contents {
  font-size: 14px;
  text-align: left;
}
.two-column img {
  width: 100%;
  max-width: $pagewidth;
  height: auto;
}
.two-column .text {
  padding-top: 10px;
}

// Three column contents

/*Three column layout*/
.three-column {
  text-align: center;
  font-size: 0;
  padding: 0;
}
.three-column .column {
  width: 100%;
  max-width: $pagewidth;
  display: inline-block;
  vertical-align: top;
}
.three-column .contents {
  font-size: 14px;
  text-align: center;
}
.three-column img {
  width: 100%;
  max-width: $pagewidth;
  height: auto;
}
.three-column .text {
  padding-top: 10px;
}

@media screen and (max-width: $pagewidth) {
  .two-column .column {
    width: 100% !important;
    max-width: $pagewidth !important;
  }
  .two-column img {
    max-width: $pagewidth !important;
  }
  .three-column .column {
    max-width: $pagewidth / 3 !important;
  }
  .three-column img {
    max-width: $pagewidth / 3 !important;
  }
}