.header-firstline,
.header-firstline font {
  font-size: 13px;
}

.email-header {
  color: #ffffff;
  font-size: 12px;
  background-color: #132034;
}

.main-image {
  text-align: center;
}

.intro-text {
  background-color: #ffffff;
  .inner.contents {
    text-align: justify;
  }
  img {
    width: 100%;
    max-width: $pagewidth;
    height: auto;
  }
  p, p font {
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    text-align: justify;
  }
  p.ie {
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
  }
}


  .header-b-pdv-right {
    width: 50% !important;
  }

  p, p font {
    font-size: 20px !important;
    line-height: 30px  !important;
  }

@media screen and (min-width: $pagewidth) {
  .full-width-image.main-image a {
    display: block;
    overflow: hidden;
    width: 620px !important;
    height: 212px !important;
    background-image: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/img-header-dt.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    img {
      display: none !important;
      visibility: hidden !important;
    }
  }

  a.introtext-jenprofite {
    display: block;
    overflow: hidden;
    width: 600px !important;
    height: 63px !important;
    background-image: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/button-jenprofite-dt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 7px;

    img {
      visibility: hidden !important;
    }
  }
  span.introtext-descendre {
    display: block;
    overflow: hidden;
    width: 600px !important;
    height: 48px !important;
    background-image: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/button-descendre-dt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 7px;

    img {
      visibility: hidden !important;
    }
  }
}

//@media screen and (max-width: 420px) {
  .header-b-pdv-left img {
    width: 100% !important;
  }

  .header-b-pdv-right {
    &, font {
      font-size: 13px !important;
    }
  }

  .intro-text {
    p, p font {
      font-size: 14px !important;
      line-height: 18px !important;
    }
  }
//}