.header-firstline,
.header-firstline font {
  font-size: 13px;
}

.header-spacer {
  display: inline-block;
  min-width: 1em;
}

.email-header {
  color: #ffffff;
  font-size: 12px;
  background-color: #132034;
}

.main-image {
  text-align: center;
}

.intro-text {
  background-color: #ffffff;
  .inner.contents {
    text-align: justify;
  }
  img {
    width: 100%;
    max-width: $pagewidth;
    height: auto;
  }
  p, p font {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    text-align: justify;
  }
  p.ie {
    font-size: 12px;
    line-height: 20px;
  }
}

.header-b-pdv-left {
  min-width: 50%;
  img {
    min-width: 160px;
  }
 }

.header-b-pdv-right {
  max-width: 50%;
}

@media screen and (max-width: $pagewidth) {
  .header-b-pdv-right {
    width: 50% !important;
  }
}

@media screen and (min-width: $pagewidth) {
  .header-b-pdv-right {
    width: 220px !important;
  }

  .intro-text {
    p, p font {
      font-size: 12px !important;
      line-height: 20px !important;
    }
  }

  .header-b-pdv-left img {
    max-width: 228px !important;
  }

  .header-logo a {
    display: block;
    overflow: hidden;
    width: 620px !important;
    height: 65px !important;
    background-image: url("http://1eeb749d6b52b62a3a22-ddb52a953c0a5be9774a16a3c46699de.r38.cf3.rackcdn.com/dist/images/logo-peugeot-dt3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    img {
      display: none !important;
      visibility: hidden !important;
    }
  }

  .full-width-image.main-image a {
    display: block;
    overflow: hidden;
    width: 620px !important;
    height: 212px !important;
    background-image: url("http://1eeb749d6b52b62a3a22-ddb52a953c0a5be9774a16a3c46699de.r38.cf3.rackcdn.com/dist/images/img-header-pdv-dt.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    img {
      display: none !important;
      visibility: hidden !important;
    }
  }

  a.introtext-jenprofite {
    display: block;
    overflow: hidden;
    width: 600px !important;
    height: 63px !important;
    background-image: url("http://1eeb749d6b52b62a3a22-ddb52a953c0a5be9774a16a3c46699de.r38.cf3.rackcdn.com/dist/images/button-jenprofite-dt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 7px;

    img {
      visibility: hidden !important;
    }
  }
  span.introtext-descendre {
    display: block;
    overflow: hidden;
    width: 600px !important;
    height: 48px !important;
    background-image: url("http://1eeb749d6b52b62a3a22-ddb52a953c0a5be9774a16a3c46699de.r38.cf3.rackcdn.com/dist/images/button-descendre-dt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 7px;

    img {
      visibility: hidden !important;
    }
  }
}

//@media screen and (max-width: 420px) {

.header-b-pdv-right {
  &, font {
    font-size: 13px !important;
  }
}

.intro-text {
  p, p font {
    font-size: 14px !important;
    line-height: 18px !important;
  }
}

//}