.header-firstline,
.header-firstline font {
  font-size: 13px;
}

.email-header {
  color: #ffffff;
  font-size: 12px;
  background-color: #132034;
}

.main-image {
  text-align: center;
}

.intro-text {
  background-color: #ffffff;
  .inner.contents {
    text-align: center;
  }
  img {
    width: 100%;
    max-width: $pagewidth;
    height: auto;
  }
  p, p font {
    font-size: 12px;
    line-height: 20px;
    color: #000000;
  }
  p.ie {
    font-size: 12px;
    line-height: 20px;
  }
}


@media screen and (max-width: $pagewidth) {
  .header--pdv-right {
    width: 50% !important;
  }

  .header--pdv-left img {
    position: relative;
    left: -5px;
  }


  p, p font {
    font-size: 20px !important;
    line-height: 30px  !important;
  }


  a.introtext-jenprofite {
    display: block;
    overflow: hidden;
    background-image: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/button-jenprofite.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 7px;

    img {
      width: 183% !important;
      max-width: 183% !important;
      visibility: hidden;
    }
  }

  span.introtext-descendre {
    display: block;
    overflow: hidden;
    background-image: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/button-descendre.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 7px;

    img {
      width: 130% !important;
      max-width: 130% !important;
      visibility: hidden;
    }
  }

  .full-width-image.main-image a {
    display: block;
    overflow: hidden;
    background-image: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/img-header-m.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    img {
      width: 160% !important;
      max-width: 160% !important;
      visibility: hidden;
    }
  }

}

@media screen and (max-width: 420px) {
  .header--pdv-left img {
    width: 100% !important;
  }

  .header--pdv-right {
    &, font {
      font-size: 13px !important;
    }
  }

  .intro-text {
    p, p font {
      font-size: 14px !important;
      line-height: 18px !important;
    }
  }
}