.email-header {
  color: #ffffff;
  font-size: 12px;
  background-color: #132034;
}


.intro-text {
  background-color: #ffffff;
  .inner.contents {
    text-align: center;
  }
  img {
    width: 100%;
    max-width: $pagewidth;
    height: auto;
  }
  p, p font {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
  }
  p.ie {
    font-size: 12px;
    line-height: 20px;
  }
}

// Media Queries

@media screen and (min-width: $pagewidth) {
  .full-width-image.header-logo {
    background: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/logo-peugeot-dt.jpg") no-repeat;
    img {
      visibility: hidden;
    }
  }
  .full-width-image.main-image {
    background: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/img-header-dt.jpg") no-repeat;
    height: 212px;
    img {
      visibility: hidden;
      height: 212px !important;
      width: $pagewidth;
    }
  }

  .introtext-jenprofite {
    display: block;
    background: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/button-jenprofite-dt.jpg") no-repeat;
    height: 63px;
    img {
      visibility: hidden;
      height: 63px !important;
      width: 600px;
    }
  }

  .introtext-descendre {
    display: block;
    background: url("http://d48a0cc11cb194bc5987-a6828fb7188c206dd96de429dd0814df.r19.cf3.rackcdn.com/dist/images/button-descendre-dt.jpg") no-repeat;
    height: 48px;
    img {
      visibility: hidden;
      height: 48px !important;
      width: 600px;
    }

  }

  .intro-text p, .intro-text p font {
    font-size: 13px !important;
    line-height: 20px !important;
  }

  .header-firstline {
      a, a font {
        font-size: 11px;
      }
  }

}