.email-header {
  color: #ffffff;
  font-size: 12px;
  background-color: #132034;
}

.main-image {
  text-align: center;
}

.intro-text {
  background-color: #ffffff;
  .inner.contents {
    text-align: center;
  }
  img {
    width: 100%;
    max-width: $pagewidth;
    height: auto;
  }
  p, p font {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
  }
  p.ie {
    font-size: 12px;
    line-height: 20px;
  }
}

