/* Basics */
body {
  margin: 0 !important;
  padding: 0;
  background-color: #ffffff;
}
table {
  border-spacing: 0;
  font-family: sans-serif;
  color: #ffffff;
}
td {
  padding: 0;
}
img {
  border: 0;
  display: block;
}
div[style*="margin: 16px 0"] {
  margin:0 !important;
}

.outer {
  background-color: #152034;
  color: #ffffff;
}

.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.webkit {
  max-width: $pagewidth;
  margin: 0 auto;
}

.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: $pagewidth;
}


/* CLIENT-SPECIFIC STYLES */
#outlook a {
  padding: 0;
}

/* Force Outlook to provide a "view in browser" message */
.ReadMsgBody {
  width: 100%;
}

.ExternalClass {
  width: 100%;
}

/* Force Hotmail to display emails at full width */
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
  line-height: 100%;
}

/* Force Hotmail to display normal line spacing */
body, table, td, a {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Prevent WebKit and Windows mobile changing default text sizes */
table, td {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

/* Remove spacing between tables in Outlook 2007 and up */
img {
  -ms-interpolation-mode: bicubic;
}

/* Allow smoother rendering of resized image in Internet Explorer */

/* RESET STYLES */
body {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}

table {
  border-collapse: collapse !important;
}

body {
  height: 100% !important;
  margin: 0;
  padding: 0;
  width: 100% !important;
}

/* iOS BLUE LINKS */
.appleBody a,
.appleBody font,
.appleBody font a {
  color: #BFC3C7 !important;
  text-decoration: none !important;
}

.appleBodyBlack a {
  color: #000000;
  text-decoration: none;
}

.appleFooter a {
  color: #ffffff;
  text-decoration: none;
}

// Hide content on Explorer Desktop
.hide-mso * {
  mso-hide: all;
}

.hide-mso {
  mso-hide: all;
}

