<tr>
    <td>
        <table class="outer" align="center">
            <tr>
                <td class="full-width-image">
                    <img src="https://placem.at/places?w=600&h=400" width="{{ parameters.pagewidth }}" alt=""/>
                </td>
            </tr>
        </table>
    </td>
</tr>