<tr>
    <td class="three-column">
        <!--[if (gte mso 9)|(IE)]>
        <table width="100%">
            <tr>
                <td width="200" valign="top">
        <![endif]-->
        {{~> column
            text="one"
            width=3
            mypartial=first
        ~}}
        <!--[if (gte mso 9)|(IE)]>
        </td><td width="200" valign="top">
        <![endif]-->
        {{~> column
            text="two"
            width=3
            mypartial=second
        ~}}
        <!--[if (gte mso 9)|(IE)]>
        </td><td width="200" valign="top">
        <![endif]-->
        {{~> column
            text="three"
            width=3
            mypartial=third
        ~}}
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </td>
</tr>