<tr bgcolor="{{ bgcolor }}">
    <td class="two-column" bgcolor="{{ bgcolor }}">
        <!--[if (gte mso 9)|(IE)]>
        <table width="100%">
        <tr>
        <td width="50%" valign="top">
        <![endif]-->
        {{> column
            mypartial=left
        }}
        <!--[if (gte mso 9)|(IE)]>
        </td>
        <td width="50%" valign="top">
        <![endif]-->
        {{> column
            mypartial=right
        }}
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </td>
</tr>