<tr>
    <td>
        <table width="100%" class="{{ className }}" bgcolor="#152034" cellpadding="0" cellspacing="0">
            <tr>
                <td align="left" valign="bottom" height="{{ height }}">
                    <img src="images/logo.jpg" alt="Logo" width="95" height="60">
                </td>

                <td align="right" valign="bottom" height="{{ height }}">
                    <font color="#ffffff">Text on right</font>
                </td>
            </tr>
            <tr>
                <td height="10"></td>
                <td height="10"></td>
            </tr>
        </table>
    </td>
</tr>